@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border-style: border-box;
  font-family: poppins, sans-serif; }

/* NAV */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px;
  padding: 20px; }

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem; }

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem; }

nav img {
  width: 200px; }

.bg-index {
  background-color: #202020; }

.header-index {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 3rem; }

.header-index h1 {
  font-size: 3rem;
  color: #dbdbdb; }

.titulo-i-simple {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .titulo-i-simple h2 {
    font-size: 2.5rem;
    color: #dbdbdb; }
  .titulo-i-simple p {
    font-size: 1.2rem;
    color: #dbdbdb; }

.cont-main p {
  font-size: 1.2rem;
  color: #fffc5f; }

.cont-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem; }

.cont-form .cont-input {
  margin-top: -30px; }

.cont-form input {
  margin: 17px;
  width: 270px;
  height: 32px;
  text-align: center;
  border-radius: 4px;
  border-style: none;
  border: solid 1px #000;
  font-size: 1rem; }

.cont-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .cont-form form input {
    margin: 17px;
    width: 270px;
    height: 32px;
    text-align: center;
    border-radius: 4px;
    border-style: none;
    border: solid 1px #000;
    font-size: 1rem; }
  .cont-form form .cont-calcular {
    display: flex;
    justify-content: center;
    align-items: center; }
    .cont-form form .cont-calcular button {
      font-size: 1.2rem;
      width: 132px;
      border-style: none;
      border-radius: 4px;
      box-shadow: 6px 6px 6px #000; }
      .cont-form form .cont-calcular button:focus {
        transform: scale(96%); }

.cont-form form button {
  cursor: pointer; }
