@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border-style: border-box;
  font-family: poppins, sans-serif; }

/* NAV */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #000; }

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem; }

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem; }

nav img {
  margin-left: 8rem;
  width: 200px; }

.bg-index {
  background-color: #202020; }

.header-first {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 5rem; }

.header-index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start; }
  .header-index h3 {
    color: #dbdbdb;
    font-size: 2rem;
    font-weight: 400; }
  .header-index p {
    width: 620px;
    font-size: 1.2rem;
    color: #dbdbdb; }
  .header-index a {
    color: #202020;
    background-color: #f2ff00;
    border-radius: 12px;
    border: solid 1px grey;
    font-size: 1.6rem;
    padding: 0.3rem;
    width: 200px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 600; }

nav a {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 600;
  color: #fff; }

.header-index h1 {
  width: 550px;
  font-size: 4.2rem;
  color: #dbdbdb; }

.container-products {
  display: flex;
  justify-content: start;
  flex-wrap: wrap; }
  .container-products .tarjetas {
    background-color: #dbdbdb;
    border: solid 4px #000;
    width: 500px; }

.bg-body {
  background: #3f5efb;
  background: linear-gradient(90deg, #3f5efb 22%, #46a5fc 78%);
  background: linear-gradient(rgba(0, 0, 0, 0.379), rgba(0, 0, 0, 0.345)), url("https://res.cloudinary.com/dfnton7oq/image/upload/v1723351960/weather%20app/day_c0ldtt.jpg");
  background-size: cover; }

.bg-noche {
  background: url("https://res.cloudinary.com/dfnton7oq/image/upload/v1723428052/weather%20app/night_fbdel6_i8biqv.jpg");
  background-size: cover; }

.cont-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px; }

.cont-weather {
  backdrop-filter: blur(10px) contrast(48%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 700px;
  height: 700px;
  border: solid 2px #1b1b1b;
  border-radius: 12px;
  box-shadow: 6px 4px 2px #000; }

.cont-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .cont-titulo img {
    margin-left: 3rem;
    width: 220px; }

#titulo {
  font-size: 3.8rem;
  font-weight: 700;
  text-shadow: 4px 4px 2px #000; }

#ubicacion-nombre {
  color: #dbdbdb;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 2px 2px 2px #000; }
  #ubicacion-nombre #txt-Hora {
    font-size: 2rem; }

.cont-stats {
  /* border: solid 1px #f90000; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  gap: 20px; }
  .cont-stats h1,
  .cont-stats h4,
  .cont-stats p {
    color: #dbdbdb;
    text-shadow: 2px 2px 2px #000; }

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 1rem; }

#form input {
  width: 320px;
  height: 32px;
  font-size: 1rem;
  border-radius: 12px;
  padding: 1px;
  border: solid 2px #000;
  text-align: center; }

#form select {
  text-align: center;
  border: solid 1px #000;
  padding: 2px;
  border-radius: 12px;
  width: 326px;
  height: 32px;
  font-size: 1rem;
  cursor: pointer; }

#form button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  border: solid 1px;
  border-radius: 10px;
  padding: 2px;
  text-align: center; }

.cont-img img {
  filter: drop-shadow(1px 1px 10px #000000d4); }

/* .stats {
    border: solid 3px #000;
    width: 200px;
  } */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #dbdbdb;
  padding: 0.6rem; }
  footer .cont-titlefooter h4, footer .cont-titlefooter p {
    text-align: center; }
  footer h1 {
    font-size: 2.2rem; }
  footer .cont-1 li {
    list-style: none; }

.cont-historial {
  position: fixed;
  height: 502px;
  width: 320px;
  left: 68%;
  top: 5.4%;
  backdrop-filter: blur(10px) contrast(68%);
  padding: 12px;
  border: solid 1px;
  border-radius: 6px;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: hidden;
  box-shadow: 4px 3px 4px #000; }

.cont-historial-deco {
  background-color: rgba(0, 102, 255, 0.169);
  border-radius: 6px; }

.cont-historial .msg-nohistorial p {
  position: fixed;
  bottom: 50%;
  left: 16%;
  color: #dbdbdb;
  text-shadow: 4px 4px 4px #000; }

.content-h-climas:hover {
  background-color: rgba(8, 0, 255, 0.121); }
