@media (max-width: 1380px){
    .header-first{
        // padding: 2rem;

        h1{
            font-size: 3.4rem;
        }
    }
    .header-index p{
        width: 400px;
    }

    .cont-historial{
        display: none;
    }
}

@media (max-width: 1212px){
    .img-header{
        width: 300px;

        img{
            width: 400px;
        }
    }
}

@media (max-width: 913px){
    .header-index{
        align-items: center;

        h1{
            width: auto;
            text-align: center;
        }
    }
    .img-header{
        width: auto;
    }
    .cont-weather{
        width: 530px;
    }
    .cont-stats{
        gap: 0;
    }
}

@media (max-width: 554px){
    .img-header{

        img{
            width: 300px;
            margin-left: 15px;
        }
    }
    .header-first{
        padding: 1rem;
    }

    .cont-weather{
        width: auto;
        padding: 1rem;
        margin: 9px;
    }
    #titulo{
        font-size: 3rem;
        margin-bottom: 32px;
    }
    .cont-titulo img{
        width: 189px;
    }
    .cont-stats{
        flex-wrap: wrap;
        gap: 17px;
    }
}

@media (max-width: 450px){
    .header-index h1{
        font-size: 2.8rem;
    }
    .header-index p{
        width: auto;
        text-align: center;
        font-size: 1rem;
    }
    .cont-stats{
        padding: 0;
    }
    .cont-weather{
        padding: 0;
    }
    #ubicacion-nombre{
        font-size: 3rem;
    }
}