/* NAV */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // border: solid 5px #f00000;
    padding: 20px;
    background-color: #000;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  nav ul a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
  }
  
  nav img{
    margin-left: 8rem;
    width: 200px
}